
/* Style after color selector choose */

:root {
    --bodyBgColor: #f6f8d0;
    --firstHeaderBgColor: #f3fa78;
    --firstHeaderBoxShadow: 1px 1px 30px 53px darkblue;
    --secondHeaderBgColor: #b1def2;
    --footerBgColor: lightgray;
    --footerBoxShadow: 5px 5px 25px 0.5px darkblue;
    --footerColor: black;
    --headerAnchor: black;
    --headerSpan: black;
}

[data-theme="lightColor"] {
    --bodyBgColor: white;
    --firstHeaderBgColor: white;
    --firstHeaderBoxShadow: 1px 1px 30px 53px black;
    --secondHeaderBgColor: #e7e7e7;
    --footerBgColor: #e7e7e7;
    --footerBoxShadow: 5px 5px 25px 0.5px black;
}

[data-theme="darkColor"] {
    --bodyBgColor: #5c5c5c;
    --firstHeaderBgColor: black;
    --firstHeaderBoxShadow: 1px 1px 30px 53px white;
    --secondHeaderBgColor: #3b3b3b;
    --headerAnchor: white;
    --headerSpan: white;
    --footerBgColor: black;
    --footerBoxShadow: 5px 5px 25px 0.5px white;
    --footerColor: white;
}

/* General Css Style */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bodyBgColor);
}

header {
    display: flex;
    flex-direction: column;
    user-select: none;
}

header #burgerIcon {
    display: none;
}

aside {
    display: none;
}

header #firstHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 20px;
    background-color: var(--firstHeaderBgColor);
    box-shadow: var(--firstHeaderBoxShadow);
}

header #firstHeader a{
    width: 10%;
    color: var(--headerAnchor);
}

header #logoImage {
    width: 100%;
}

header nav {
    width: 70%;
    margin: 18px 0 18px 10px;
}

header #firstHeader nav {
    display: flex;
    justify-content: right;
}

header #firstHeader nav span {
    text-decoration: none;
    color: var(--headerSpan);
    padding: 0 20px;
}

header #firstHeader span label {
    cursor: pointer;
    transition: 0.3s;
}

header #firstHeader span .downArrow {
    margin-left: 10px;
    width: 15%;
}
header #firstHeader span label:hover {
    border-bottom: 5px solid;
}

header #firstHeader span:active {
    color: #f3fa78;
}

header #secondHeader {
    height: 60px;
    background-color: var( --secondHeaderBgColor);
    font-size: 18px;
}

header #secondHeader nav{
    text-align: left;
    margin-top: 20px;
}

header #secondHeader nav a{
    text-decoration: none;
    padding: 0 30px 0 0;
    color: var(--headerAnchor);
}

header #secondHeader a label{
    display: inline-block;
    width: 6%;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    margin-left: 15px;
}

header #secondHeader a label:hover{
    border-bottom: 5px solid;
}

header .accessibility {
    position: absolute;
    border: 2px solid;
    border-radius: 10px;
    padding: 20px 25px;
    background-color: white;
    margin-top: 10px;
    text-align: center;
    display: none;
}

header .accessibility div {
    padding: 8px 5px;
    width: 125px;
}

header .accessibility div.default {
    background-color: lightgray;
}

header .accessibility div.option:hover, .accessibility div.default:hover {
    background-color: rgb(236, 235, 235);
    cursor: pointer;
}

header .support {
    right: 2%;
}

header .support img{
    width: 20%;
}

header .support div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px 20px;
}

header .support div label {
    margin-top: 5px;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    height: 220px;
    background-color: var(--footerBgColor);
    padding: 20px 0;
    user-select: none;
    box-shadow: var(--footerBoxShadow);
    color: var(--footerColor);
}

footer a {
    margin: 0 auto;
    background-image: url("image/socialMedia/ig.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    transition: 0.3s;
}

footer a:hover {
    background-image: url("image/socialMedia/ig_clicked.png");
}

@media (max-width: 620px) {
    header #firstHeader a{
        width: 25%;
    }

    header #burgerIcon {
        display: block;
        width: 10%;
        cursor: pointer;
    }

    header #firstHeader nav {
        display: none;
    }

    header #secondHeader nav {
        font-size: 15px;
        width: 50%;
    }

    header #secondHeader a label{
        width: 30%;
    }

    aside .accessibility {
        position: absolute;
        border: 0px;
        border-radius: 0px;
        text-align: center;
        margin-top: 0px;
        top: 0;
        right: 136px;
        background-color: rgb(247, 246, 246);
    }

    header .accessibility div {
        padding: 8px 5px;
        width: 150px;
    }

    aside {
        flex-direction: column;
        position: fixed;
        height: 100%;
        gap: 25px;
        margin: 16% 0 0 100%;
        width: 35%;
        text-align: right;
        padding: 20px 30px 0 0;
        background-color: white;
    }

    aside.visible {
        display: inline-flex;
    }

    aside span.accessibilityButton {
        padding: 5px 0;
        transition: 0.2s;
        cursor: pointer;
    }

    aside span.accessibilityButton label {
        cursor: pointer;
    }

    aside span.accessibilityButton:hover {
        border-left: 4px solid;
    }

    aside span.accessibilityButton:active {
        color: white;
    }

    footer {
        font-size: 13px;
        height: 180px;
    }

    footer a {
        width: 50px;
        height: 50px;
        border-radius: 15px;     
    }
}

@media (min-width: 620px) and (max-width: 1250px) {
    header nav {
        width: 70%;
        margin: 12px 0 12px 10px;
        font-size: 18px;
    }

    header #firstHeader a{
        width: 13%;
    }

    header #secondHeader nav a {
        padding: 0 5px 0 0;
    }

    header #secondHeader a label{
        font-size: 16px;
        width: 15%;
    }

    footer {
        font-size: 13px;
        height: 180px;
    }

    footer a {
        width: 50px;
        height: 50px;
        border-radius: 15px;     
    }
}